body {
background-color: #4C4C4C;
}
.text {
color: #1398A5;
font-weight: bold;
font-size: 17px;
}
.text2 {
	color: #1398A5;
}
.page {
background-color: #525252;
border: 12px;
border-style: outset;
border-color: #A0A5A5;
height: 100%;
width: 99%;
}
.Links {
	color: #1398A5;
	font-weight: bold;
	text-decoration: none;
}
.Lime {
	color: #1398A5;
}
.button {
	position: static;
	border-style: ridge;
	border-color: #A0A5A5;
	background-color: #525252;
	color: #1398A5;
	width: 19.4%; /* 370px */
	float: left;
	text-align: center;
}
.image {
	width: 100%;
	height: 750px;
}
.divimage {
	border: 12px;
	border-style: outset;
	border-color: #A0A5A5;
	width: 48.5%;
	float: left;
}
.divimage2 {
	position: static;
	border: 12px;
	border-style: outset;
	border-color: #A0A5A5;
	width: 48.5%;
	float: left;
}